/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-mar-2017, 11.46.29
    Author     : tss
*/

* {font-size: 20px;}

table {
    border: solid 1px black;
    border-collapse: collapse;
    margin: auto;
}

table td, table th {
    border: solid 1px black;
}