/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-feb-2017, 13.57.10
    Author     : tss
*/

div{
    animation-name: prova;
    animation-iteration-count: 1;
}
div.es div{
    top: 300px;
    left: 500px;
    position: relative;
    transition: all 3s;
    line-height: 140px;
    text-align: center;
    font-size: 30px;
    width: 140px;
    height: 140px;
    float: left;
    box-shadow: 3px 3px 10px red;
    animation: prova1 5s;
}

div.es div:nth-child(1):hover{
    top: 150px;
    left: 850px;
    position: relative;
    transform: rotateX(360deg);
    font-size: 120px;
    color: blue;
    line-height: 140px;
    border-radius: 86px;
    box-shadow: 3px 3px 10px red;
}
div.es div:nth-child(2):hover{
    top: 150px;
    left: 710px;
    position: relative;
    transform: rotateY(360deg);
    font-size: 120px;
    color: blue;
    line-height: 140px;
    border-radius: 86px;
    box-shadow: 3px 3px 10px red;
}
div.es div:nth-child(3):hover{
    top: 150px;
    left: 570px;
    position: relative;
    transform: rotateZ(360deg);
    font-size: 120px;
    color: blue;
    line-height: 140px;
    border-radius: 86px;
    box-shadow: 3px 3px 10px red;
}
div.es div:nth-child(4):hover{
    top: 150px;
    left: 430px;
    position: relative;
    transform:rotateZ(360deg);
    font-size: 120px;
    color: blue;
    line-height: 140px;
    border-radius: 86px;
    box-shadow: 3px 3px 10px red;
}
div.es div:nth-child(5):hover{
    top: 150px;
    left: 290px;
    position: relative;
    transform:rotateY(360deg);
    font-size: 120px;
    color: blue;
    line-height: 140px;
    border-radius: 86px;
    box-shadow: 3px 3px 10px red;
}
div.es div:nth-child(6):hover{
    top: 150px;
    left: 150px;
    position: relative;
    transform:rotateX(360deg);
    font-size: 120px;
    color: blue;
    line-height: 140px;
    border-radius: 86px;
    box-shadow: 3px 3px 10px red;
}

@keyframes prova1{
    0%{opacity:0.50;}
    25%{opacity: 0.75; top: 500px; left: 50px;}
    50%{opacity: 0.75; top: 500px; left: 500px;}
    75%{opacity: 0.75; top: 50px; left: 500px;}
    100%{opacity: 1; top: 300px; left: 500px;}
}
@keyframes prova2{
    0%{opacity:0;}
    25%{opacity: 0.75; top: 500px; left: 50px;}
    50%{opacity: 0.75; top: 500px; left: 500px;}
    75%{opacity: 0.75; top: 50px; left: 500px;}
    100%{opacity: 1; top: 300px; left: 500px;}
}
@keyframes prova3{
    0%{opacity:0.50;}
    25%{opacity: 0.75; top: 500px; left: 50px;}
    50%{opacity: 0.75; top: 500px; left: 500px;}
    75%{opacity: 0.75; top: 50px; left: 500px;}
    100%{opacity: 1; top: 300px; left: 500px;}
}
@keyframes prova4{
    0%{opacity:0.50;}
    25%{opacity: 0.75; top: 500px; left: 50px;}
    50%{opacity: 0.75; top: 500px; left: 500px;}
    75%{opacity: 0.75; top: 50px; left: 500px;}
    100%{opacity: 1; top: 300px; left: 500px;}
}
@keyframes prova5{
    0%{opacity:0.50;}
    25%{opacity: 0.75; top: 500px; left: 50px;}
    50%{opacity: 0.75; top: 500px; left: 500px;}
    75%{opacity: 0.75; top: 50px; left: 500px;}
    100%{opacity: 1; top: 300px; left: 500px;}
}
@keyframes prova6{
    0%{opacity:0.50;}
    25%{opacity: 0.75; top: 500px; left: 50px;}
    50%{opacity: 0.75; top: 500px; left: 500px;}
    75%{opacity: 0.75; top: 50px; left: 500px;}
    100%{opacity: 1; top: 300px; left: 500px;}
}

div.es div:nth-child(1){
    opacity: 0px;
    top: 300px;
    left: 500px;
    position: relative;
    transition: all 3s;
    line-height: 140px;
    text-align: center;
    font-size: 30px;
    width: 140px;
    height: 140px;
    float: left;
    box-shadow: 3px 3px 10px red;
    animation: prova1 5s;
    animation-delay: 1s;
}
div.es div:nth-child(2){
    opacity: 0px;
    top: 300px;
    left: 500px;
    position: relative;
    transition: all 3s;
    line-height: 140px;
    text-align: center;
    font-size: 30px;
    width: 140px;
    height: 140px;
    float: left;
    box-shadow: 3px 3px 10px red;
    animation: prova2 5s;
    animation-delay: 2s;
}
div.es div:nth-child(3){
    opacity: 0px;
    top: 300px;
    left: 500px;
    position: relative;
    transition: all 3s;
    line-height: 140px;
    text-align: center;
    font-size: 30px;
    width: 140px;
    height: 140px;
    float: left;
    box-shadow: 3px 3px 10px red;
    animation: prova3 5s;
    animation-delay: 3s;
}
div.es div:nth-child(4){
    opacity: 0px;
    top: 300px;
    left: 500px;
    position: relative;
    transition: all 3s;
    line-height: 140px;
    text-align: center;
    font-size: 30px;
    width: 140px;
    height: 140px;
    float: left;
    box-shadow: 3px 3px 10px red;
    animation: prova4 5s;
    animation-delay: 4s;
}
div.es div:nth-child(5){
    opacity: 0px;
    top: 300px;
    left: 500px;
    position: relative;
    transition: all 3s;
    line-height: 140px;
    text-align: center;
    font-size: 30px;
    width: 140px;
    height: 140px;
    float: left;
    box-shadow: 3px 3px 10px red;
    animation: prova5 5s;
    animation-delay: 5s;
}
div.es div:nth-child(6){
    opacity: 0px;
    top: 300px;
    left: 500px;
    position: relative;
    transition: all 3s;
    line-height: 140px;
    text-align: center;
    font-size: 30px;
    width: 140px;
    height: 140px;
    float: left;
    box-shadow: 3px 3px 10px red;
    animation: prova6 5s;
    animation-delay: 6s;
}