/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7-mar-2017, 15.26.05
    Author     : tss
*/

div {width: 400px;}


.pulsanteAccesoSpento span:nth-child(2) {
  font-weight: bold;
}

.pulsanteAccesoSpento.acceso span:nth-child(1) {
  font-weight: bold;
}

.pulsanteAccesoSpento.acceso span:nth-child(2) {
  font-weight: normal;
}

.pulsanteSottolineato span:nth-child(2) {
  font-weight: bold;
}

.pulsanteSottolineato.Sottolineato span:nth-child(1) {
  font-weight: bold;
}

.pulsanteSottolineato.Classico span:nth-child(2) {
  font-weight: normal;
}